
.add {
    padding: 20px;
    gap:30px;
    &__title{
        font-size: 1.5rem;
        font-weight: 600;
        color:rgb(214, 65, 170);
    }
}
.addform {
    margin-bottom: 1rem;
    text-align: center;
    
  
    &__element {
        padding:5px;
        margin:5px;
        border: 2px solid rgb(214, 65, 170);
        border-radius: 5px;
      }
      &__submit {
        background-color: rgb(214, 65, 170);
        padding:5px;
        margin:5px;
        border: 2px solid rgb(214, 65, 170);
        border-radius: 5px;
      }
      &__message {
        color: rgb(214, 65, 170);
        padding:5px;
        margin:5px;

      }
  }
  
  