
.header {
  height:100px;
  padding: 20px;
  color:rgb(214, 65, 170);

  &__title{
    font-size: 2rem;
    font-weight: 600;
  }
}
.searchForm {
  margin-bottom: 1rem;
  text-align: center;
  

  &__element {
      padding:5px;
      margin:5px;
      border: 2px solid rgb(214, 65, 170);
      border-radius: 5px;
    }
  
}




